!!! 5
%html(lang="en" ng-app="home_app")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "OvsClient"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    %link(href="favicon.ico" rel="shortcut icon")
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.min.js"

    = javascript_include_tag "application"

    :javascript
      window.apiHost = "#{Settings.api.host}";
      window.currentDate = moment();

  %body
    .navbar.navbar-fluid-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="#") OvsClient
          .container.nav-collapse
            %ul.nav
              /%li= link_to "Link 1", "/path1"
              /%li= link_to "Link 2", "/path2"
              /%li= link_to "Link 3", "/path3"

    .container-fluid

      .row-fluid(ng-controller="EventCtrl")
        .span5
          .well.sidebar-nav
            %ul.nav.nav-list
              %li
                .btn-group
                  %a(class="btn" style="width: 7em;" ng-click="previousDay()")
                    &#8592;
                    &nbsp;Précédent
                  %a(class="btn" style="width: 7em;" ng-click="nextDay()")
                    Suivant &nbsp;
                    &#8594;
              %li.nav-header Evénements Paris le {{currentDateFormatted()}}
              %li(ng-hide="events.length") Loading...
              %li(ng-repeat="event in events")
                %a(ng-click="setCurrent($index)" href="#") {{event.starts_at}} - {{event.title}}

        .span7
          .well(ng-show="current_event")
            %h3 {{current_event.title}}
            %span(ng-bind-html-unsafe="current_event.body")

            %a(href="http://paris.onvasortir.com/{{current_event.uri}}") Lien sur OVS

      %footer
        %p &copy; Nicolas Blanco 2013
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
